<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <span class=" navbar-brand mb-0 h1">Workforce</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topbar" aria-controls="topbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topbar">
        <ul class="navbar-nav mr-auto">
            <li class="cursor-pointer no-outline" routerLink="/employees" routerLinkActive="active">
                <a class="nav-link">Employees</a>
            </li>
            <li class="cursor-pointer no-outline" routerLink="/add-employee" routerLinkActive="active">
                <a class="nav-link">Add Employees</a>
            </li>
        </ul>
    </div>
</nav>