<ng-container *ngIf="employeeListDetails?.data">
    <div class="row">
        <div class="col">
            <span class="float-right">
                <h5 style="color: #573B76;">Total of <span style="color: indianred;">{{employeeListDetails.total}}
                    </span>employees
                </h5>
            </span>
        </div>
    </div>

    <div class="row">
        <ng-container *ngFor="let employee of employeeListDetails?.data; let i = index;">
            <div class="col-sm-3" style="margin-bottom: 40px;">
                <div class="card cursor-pointer" (click)="employeeSelected(employee.id)">
                    <img [src]="employee.avatar" class="card-img-top" alt="{{employee.avatar}}">
                    <div class="card-footer" style="text-align: center;">
                        <p class="card-text"> {{employee.first_name}} {{employee.last_name}} </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="row mb-5">
        <div class="col">
            <span class="float-right">
                <button class="btn btn-warning mr-2" *ngIf="currentPage > 1" (click)="previousPage()">Previous</button>
                <button class="btn btn-primary" *ngIf="employeeListDetails.total_pages > currentPage"
                    (click)="nextPage()">Next</button>
            </span>
        </div>
    </div>
</ng-container>